

.aboutLogo {
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.aboutContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: snow;
    height: 100vh;
}