.footerContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
  bottom: 0;
}

p {
    align-self: center;
    text-decoration: none;
}


.about {
    text-decoration: none;
    color: rgb(37, 40, 61);
}

.about:hover {
    cursor: pointer;

}