.officeName {
    text-transform: uppercase;
    font-family: 'Fugaz One', cursive;
    font-size: 18px;
}

.officialName {
    font-family: Oswald;
    font-size: 18px;
}

.container {
    align-items: center;
    justify-content: center;
    background-color: snow;
}

@font-face {
    font-family: Oswald;
    src: url(Oswald-VariableFont_wght.ttf);
  }

.results {
    margin: 20px; 
    margin-bottom: 60px; 
    color: rgb(33, 36, 54);
}
 

  .contactModal {
    height: 400px;
    width: 325px;
    font-family: Oswald;
    font-size: 30px;
    text-align: center;
    border: grey;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    align-self: center;
    box-shadow: 8px 8px #60708d;
    /* box-shadow: 0 0 5px 5px rgba(235, 225, 225, 0.35); */
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    margin-top: 30%;
    padding: 15px;
    word-wrap: break-word;

  }

  .phoneNumber {
      text-decoration: none;
      color: rgb(33, 36, 54);
    }

  .contactButton {
      font-family: Oswald;
      box-shadow: 2px 2px #888888;
      border-radius: 3px;
      border: none;
      outline: none;
      background-color: rgb(229, 234, 240);
      text-transform: uppercase;
      margin-left: 10px;
  }

  .modalButton {
      font-size: 25px;
      width: 100px;
      background-color: white;
      box-shadow: 2px 2px #888888;
      border-radius: 7px;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-family: Oswald;

  }

  button:hover {
      cursor: pointer;
      background-color: rgb(189, 198, 207);

  }

  .nameAndContact {
      display: flex;
      justify-content: space-between;
      margin: 5px;
      /* margin-right: 20px; */
      margin-bottom: 8px;
  }

  .contactEmail {
    font-size: 25px;
  }

  .contactUrl {
    font-size: 23px;

}


  @media only screen and (min-width: 769px) {
    
    .contactModal {
      margin-top: 170px;
      margin-left: 28%;

      width: 500px;
    }

    .results {
        margin-left: 80px;
        margin-right: 80px;

    }

    .contactButton {
        width: 100px;
    font-size: 15px;
    height: 40px;
    text-transform: uppercase;
  }

  .officeName {
    
    font-size: 20px;
}

.officialName {
    font-size: 20px;
}
}