.wholeComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rgb(182, 189, 211); */
    background-color: snow;
    justify-content: center;
}

html, body {
    width: auto;
    height: 100%;
    -webkit-text-size-adjust: none;
  }


.searchTitle {
    margin-top: 15px;
    font-size: 14.8vw;
    font-family: 'Fugaz One', cursive;
    color: rgb(37, 40, 61);
    margin-bottom: 1px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    /* letter-spacing: -5px; */
}

.inputText {
    justify-content: center;
    width: 340px;
    height: 50px;
    border-radius: 9px;
    outline: none;
    border-color: grey;
    border-style: solid;
    box-shadow: 0 0 5px 5px #888888;
    -webkit-box-shadow: 5px 5px #888888;
    -webkit-appearance: none;
    border-width: 1px;
    position: relative;
    margin-bottom: 27px;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    align-self: center;
    /* align-content: center; */
    text-align: center;
    color: rgb(39, 39, 43);
    font-size: 13.5px;
    /* color: #e0e7f0; */
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: 3px;

}

.inputText::placeholder {
    color: rgb(65, 65, 73);
    font-size: 13.4px;

}

.inputAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.searchButton {
    width: 100px;
    font-size: 15px;
    height: 40px;
    margin-bottom: 10px;
    font-family: Oswald;
    box-shadow: 3px 3px #888888;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(229, 234, 240);
    }


@font-face {
    font-family: Oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}

p {
    font-family: Oswald;
}

.dropdownItem {
    font-size: 15px;
    border: slategray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-family: Oswald;
    width: 350px;
    position: relative;
    z-index: 1;
    /* color: #0e448b; */
    color: rgb(39, 39, 43);

}

.dropdownItem:hover {
    cursor: pointer;
}

.boxAndSuggestions {
    align-items: center;
    justify-content: center;
    z-index: 2;
    align-self: center;
    font-family: Oswald;
    width: 100%;
    position: absolute;
    z-index: 1;
    color: rgb(39, 39, 43);


}

.searchLogo {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  width: 100%;

}

.customToast {
    background-color: rgb(105, 167, 238) !important;
    font-family: Oswald !important;
    text-transform: uppercase;
    color: white !important;
    text-align: center;
}

@media only screen and (min-width: 769px) {

    .inputAndButton {
        display: flex;
        flex-direction: row;
        /* margin-bottom: 28vh; */

    }

    .inputText {
        margin-right: 50px;
        width: 400px;
        font-size: 15px;
    }

    .searchButton {
        font-size: 17px;
        height: 50px;
        margin-bottom: 25px;
        border-radius: 6px;
    }

    .dropdownItem {
        width: 400px;
        font-size: 18px;
    }

    .searchTitle {
        font-size: 95px;
        letter-spacing: normal;

    }

    .searchLogo {
        margin-bottom: 40px;
    }

    .customToast {
    border-radius: 10px !important;
    }
}